@*@model LexiconLMS.Core.Models.Course*@
@model LexiconLMS.Core.ViewModels.CourseViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Course</h4>
<hr />
<form asp-action="Edit">

    <div class="col">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Course.Id" />
        <div class="form-group">
            <label asp-for="Course.Name" class="control-label"></label>
            <input asp-for="Course.Name" class="form-control" />
            <span asp-validation-for="Course.Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Course.StartDate" class="control-label"></label>
            <input asp-for="Course.StartDate" class="form-control" />
            <span asp-validation-for="Course.StartDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Course.Description" class="control-label"></label>
            <textarea asp-for="Course.Description" class="form-control" rows="4"></textarea>
            <span asp-validation-for="Course.Description" class="text-danger"></span>
        </div>

        @*<div class="form-group">
                <label asp-for="SystemUsersList" class="control-label"></label>
                <partial name="SystemUsersSelectedPartial" />
            </div>*@

        <div class="form-group">
            <button type="button" id="systemUsersPopUp" class="btn btn-primary" data-toggle="modal" data-target="systemUsersModalCenter">Add Member</button>
            <br />
            <label asp-for="SystemUsers" class="control-label"></label>
            <div id="systemusersupdate">
                @await Html.PartialAsync("_UsersForCourseEditPartial", @Model.SystemUsers)
            </div>
            
            @*<partial name="_SystemUsersPartial" />*@
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
        <div class="form-group">
            <!--Button trigger modal-->
            <button type="button" id="modulePopUp" class="btn btn-primary" data-toggle="modal" data-target="moduleModalCenter">Add Module</button>
            <label asp-for="Modules" class="control-label"></label>
            @Html.Partial("_ModulesPartial", Model.Modules)
        </div>
    </div>
</form>
@*<div class="col-md-4">
        <form class="text-light bg-info border rounded-lg" asp-action="Filter"
              data-ajax="true"
              data-ajax-method="GET"
              data-ajax-mode="replace"
              data-ajax-update="usersupdate">
            <div class="input-group m-auto">
                <input type="text" name="userName" class="form-control" placeholder="Search Student Name" />
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary "><i class="fa fa-search">&emsp;Search</i></button>
                </div>
            </div>
        </form>

        <table class="table">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Name)</th>
                    <th>@Html.DisplayNameFor(model => model.Email)</th>
                    <th>@Html.DisplayNameFor(model => model.PhoneNumber)</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody id="usersupdate">
                <partial name="_SystemUsersPartial" />
            </tbody>
        </table>
    </div>*@



@*<div class="col-md-4">
      @if (@Model.Course == null)
      {
          <tr>
              <td>

                  There are no course matching that name
              </td>
          </tr>
      }
      else
      {
          @foreach (var item in @Model.Course.Members)
          {
              <tr>
                  <td>
                      @Html.DisplayFor(modelItem => item.SystemUser.Name)
                  </td>
                  <td>
                      @Html.DisplayFor(modelItem => item.SystemUser.Email)
                  </td>
                  <td>
                      @Html.DisplayFor(modelItem => item.SystemUser.PhoneNumber)
                  </td>
                  <td>
                      <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                      <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                      <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                  </td>
              </tr>
          }
      }

    </div>*@


<div>
    <a asp-action="Index">Back to List</a>
</div>

<!--Modal-->
<div class="modal fade" id="moduleModalCenter" tabindex="-1" role="dialog" aria-labelledby="moduleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Module for @Model.Course.Name</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @await Html.PartialAsync("ModuleModalPopUp", Model.Module)
            </div>

        </div>
    </div>
</div>

<!--SystemUser Modal-->
<div class="modal fade" id="systemUsersModalCenter" tabindex="-1" role="dialog" aria-labelledby="systemUsersModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLongTitle">Add Members to the course</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @await Html.PartialAsync("_UsersForCourseEditPartial", Model.SystemUsers)
            </div>

        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">

</script>
<script src="bootstrap/js/bootstrap.min.js"></script>

<script type="text/javascript">

    $("#modulePopUp").click(function () {
        $("#moduleModalCenter").modal('show');
    });

    $("#btnHideModal").click(function () {
        $("#moduleModalCenter").modal('hide');
    });
    $("#systemUsersPopUp").click(function () {
        $("#systemUsersModalCenter").modal('show');
    });
</script>

