@model LexiconLMS.Core.Models.Activity

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>@Model.Name</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    @if(Model.Documents != null)
    {
        @foreach (var documentActivty in Model.Documents)
        {
            <span>@documentActivty.Document.Name</span>
            @if (User.IsInRole("Teacher"))
            {
                <a asp-controller="Document" asp-action="RemoveDocument" asp-route-documentId="@documentActivty.DocumentId" asp-route-entityId="@documentActivty.ActivityId">Remove</a><br />
            }
        }
    }
      
    <!-- TODO : Need to make it so that it only shows up when documents are null, don't seem to work with an "else"-->
    <p>No documents found...</p>
</div>

@if (User.IsInRole("Teacher"))
{
    <div>
        @await Component.InvokeAsync("DocumentUpload", new { entityId = Model.Id.ToString(), user = User, entityType = "Activity" })
    </div>
    <div>
        <a asp-controller="Activity" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    </div>
}

